.c-author {
  &__image-wrap {
    position: relative;
    display: inline-block;
  }

  &__image {
    border-radius: 50%;
    border: 2px solid var(--accent-color);
  }

  &__scrobble {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 50%;
    background-color: var(--color-background-doc);
    padding: 8px;
    border: 2px solid var(--accent-color);
  }
}
