@use "@styles/mixins/mixins" as mx; // Needs to be loaded before the sass-butler mixins
@use "@styles/variables/variables" as vars;

@layer blog-sidebar {
  .c-blog-sidebar {
    grid-area: sidebar;
    margin-right: vars.$content-spacing-outer;

    // @include mx.breakpoint("md") {
    //   position: sticky;
    //   top: 0;
    //   align-self: start;
    // }

    &__headline {
      margin-top: 0;
      line-height: 0.7;
    }
  }
}
