@use '@styles/mixins/mixins' as mx; // Needs to be loaded before the sass-butler mixins

.c-blog {
	display: grid;
	grid-template: var(--template-grid, ' sidebar ' ' article ');
	grid-template-columns: var(--columns-grid, 1fr);
	column-gap: 25px;
	word-break: break-word;

	@include mx.breakpoint('md') {
		--template-grid: ' article sidebar ';
		--columns-grid: 3fr minmax(310px, 1fr);
	}

	&__post {
		grid-area: article;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.code-toolbar {
		// overflow-y: scroll;
		display: grid;

		pre {
			max-width: 100%;

			// overflow: scroll;
		}
	}
}
