@use "sass:color";
@use "@styles/variables/shadows";
@use "@styles/variables/colors";
@use "@styles/variables/base";
@use "@sass-butler/functions" as butler-fn;
@use "@sass-butler/mixins" as butler-mx;

.c-button {
  cursor: pointer;
  border-radius: base.$border-radius;

  @include butler-mx.feature("motion") {
    transition: all 0.2s ease-in-out;
  }

  &--outline {
    border: 1px solid var(--color-border, var(--accent-color));
    color: var(--color, var(--white));
    padding: 0.5rem 1rem;
    background-color: transparent;

    @include butler-mx.feature("motion") {
      &:hover {
        box-shadow: 0 0 15px 1px butler-fn.hex-to-rgb(colors.$red-light, 50%);
        backdrop-filter: blur(3px) hue-rotate(21deg);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--accent-color);
    }

    &.is-inactive {
      --color-border: #{butler-fn.hex-to-rgb(colors.$red-light, 50%)};
    }
  }

  &--primary {
    background-color: var(--color-background-button, var(--accent-color));
    color: var(--color-button, var(--white));
    padding: 0.5rem 1rem;
    border: none;

    &:hover {
      --color-background-button: #{color.adjust(
          colors.$red-light,
          $blackness: 8%
        )};
    }

    &:has(svg) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }

  &--icon {
    @extend .u-button-reset;

    display: var(--display-button, flex);
    align-items: center;
    justify-content: center;
    color: var(--blue-light);
    transition: all 0.1s cubic-bezier(0.4, 0, 1, 1);

    &:active {
      @include butler-mx.feature("motion") {
        background-color: var(--accent-color);
        color: colors.$white;
      }
    }

    @include butler-mx.feature("motion") {
      @include butler-mx.hover {
        svg {
          --shadow: var(--accent-color);
        }
      }
    }

    svg {
      filter: drop-shadow(shadows.$white-light-shadow);
    }
  }
}

.u-button-reset {
  background-color: transparent;
  border: none;
}
