@use "@styles/utilities/animations";

.c-comments {
  grid-area: comments;
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow: hidden;

  &__load-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: center;
  }

  &__loading-icon {
    &.is-loading {
      animation: rotate-center 0.6s ease-in-out infinite both;
    }
  }
}
