@use "@styles/variables/colors";
@use "@styles/variables/base";
@use "@sass-butler/mixins" as butler-mx;

.c-cookie-consent {
  position: sticky;
  bottom: 3rem;
  right: 3rem;
  width: fit-content;
  background-color: var(--color-background);
  border-radius: base.$border-radius;
  padding: 1.5rem;

  @include butler-mx.dark-mode-class {
    --color-background: #{colors.$blue-dark};
  }
}
