@use "sass:color";
@use "@styles/variables/variables" as vars;
@use "@styles/mixins/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;

.c-form {
  width: 100%;
  max-width: 1200px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: vars.$spacer * 1.5;
    }

    &:not(.is-vertical) {
      flex-wrap: wrap;
    }

    .c-form__label {
      font-weight: 700;

      &.is-vertical {
        order: -1;
        margin-right: vars.$spacer;
      }
    }

    &.is-vertical {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: vars.$spacer * 0.5;

      .c-form__label {
        margin: {
          right: 0;
        }
      }
    }

    > * {
      width: 100%;
    }

    select {
      padding-right: vars.$spacer * 4;
    }

    &.has-error {
      .c-form__input,
      .c-form__select {
        --color-border: var(--danger);

        border-color: vars.$danger;
        background-color: color.adjust(vars.$danger, $lightness: 40%);
      }
    }
  }

  &__label {
    [required] + &,
    &.is-required {
      &::after {
        content: "*";
        font-weight: 500;
        color: var(--danger);
        transform: translateY(-0.1em);
        display: inline-block;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: vars.$spacer * 2;
    margin-bottom: vars.$spacer * 2;

    .c-form__item {
      flex: 1;
      margin-bottom: 0;
    }

    @include mx.breakpoint(md) {
      flex-direction: row;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: vars.$spacer;

    @include mx.breakpoint(md) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__error {
    color: var(--danger);
    margin-top: vars.$spacer * 0.25;
    font-weight: 500;
  }
}
