@use "@styles/mixins" as mx;

/// https://github.com/ozh/github-colors
$langs: (
  css: #663399,
  php: #4f5d95,
  javascript: #f1e05a,
  html: #e34c26,
  scss: #c6538c,
  sass: #a53b70,
  typescript: #3178c6,
  astro: #ff5a03,
  vue: #41b883,
  python: #3572a5,
  dart: #00b4ab,
  blade: #f7523f,
  shell: #89e051,
  powershell: #012456,
  less: #1d365d,
  pug: #a86454,
  ruby: #701516,
  mdx: #fcb32c,
  dockerfile: #384d54,
  kotlin: #a97bff,
  swift: #f05138,
  objective-c: #438eff,
);

.c-github-stats-card {
  &.is-graph {
    i {
      font-size: 0.8rem;
    }
  }
}

.c-code-lang-graph {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.c-code-lang-graph__item {
  flex-basis: var(--lang-percentage);
  height: 20px;

  @each $lang, $color in $langs {
    &.is-#{$lang} {
      background-color: $color;
    }
  }
}

.c-code-lang-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  row-gap: 0.35rem;
  column-gap: 1.7rem;
  padding-inline-start: 1rem;

  &__item {
    @each $lang, $color in $langs {
      &.is-#{$lang}::marker {
        color: $color;
      }
    }
  }
}

.o-github-total-lines {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  .c-github-stats-card {
    &:first-child {
      flex: 0 1 content;
    }
    &:last-child {
      flex: 1 0;
      font-size: 1.5rem;
    }
  }
}

.o-github-most-starred {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
  }

  &__item {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "title title"
      "description description"
      "lang stars";
    grid-template-rows: auto 1fr auto;
    gap: 0.75rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__title {
    margin: 0;
    grid-area: title;
  }

  &__description {
    grid-area: description;
    font-size: 0.9rem;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    grid-area: stars;
  }

  &__lang {
    grid-area: lang;

    &::before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      margin-inline-end: 4px;
    }

    @each $lang, $color in $langs {
      &.is-#{$lang}::before {
        background: $color;
      }
    }
  }
}

.c-code-lang-graph.is-skeleton,
.c-code-lang-list.is-skeleton {
  .c-code-lang-graph__item,
  .c-code-lang-list__item {
    @include mx.skeleton-loader;
  }

  .c-code-lang-graph__item {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .c-code-lang-list__item {
    color: transparent;
    width: 85%;
  }
}
