@use '@styles/mixins/mixins' as mx;

.c-main-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'logo toggle' 'menu menu';
	position: relative;

	&__logo-link {
		grid-area: logo;
	}

	&__menu {
		grid-area: menu;
		position: absolute;
		background-color: var(--blue-dark);
		top: 100%;
		bottom: -100vh;
		left: -15px;
		width: calc(100% + 30px);
	}

	&__toggle {
		grid-area: toggle;
	}
}
