.c-menu {
  display: flex;
  row-gap: 2rem;

  &__item {
    &.has-child {
      .is-menu-title {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background-color: transparent;
        border: none;
        color: var(--color-link-base);

        > * {
          pointer-events: none;
        }
      }
    }
  }

  &__link {
    cursor: pointer;
    color: var(--color-menu-link, var(--color-link-base));
  }

  &--header {
    .c-menu__link {
      text-transform: uppercase;
    }
  }

  &--footer,
  &--footer-two-columns {
    column-gap: 1rem;
    row-gap: 0.75rem;
  }

  &--footer {
    display: flex;
    flex-flow: column wrap;
  }

  &--footer-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
