@use "@sass-butler/mixins" as butler-mx;
@use "@styles/variables/base";

.c-submenu {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  background-color: var(--element-background);
  border-radius: base.$border-radius;
  padding: 1rem;
  top: 110%;

  &__item {
    font-size: 1.2rem;
  }

  &.is-left {
    right: 0;
  }

  &.is-right {
    left: 0;
  }

  .c-menu__link {
    --color-menu-link: var(--white);

    @include butler-mx.dark-mode-class("html") {
      --color-menu-link: var(--blue-dark);
    }
  }
}
