---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import BlogPostPreview from '@components/BlogPostPreview.vue';

import { getAllCategories, getCategoryBySlug, getPostsPreviewByCategory } from '@lib/api';

export async function getStaticPaths() {
  const postWithSlugs = await getAllCategories();

  return postWithSlugs.nodes.map(category => {
    return {
      params: { slug: category.slug },
    };
  });
}

const { slug } = Astro.params;

let category = await getCategoryBySlug(slug);

category = category[0];

const postsByCategory = await getPostsPreviewByCategory(slug);
---
<DefaultLayout content={category}>
  <section class="intro">
    <h1>{category.name}</h1>
  </section>
  <section aria-label="Blog post list">

    <BlogPostPreview posts={postsByCategory} client:visible></BlogPostPreview>

  </section>
</DefaultLayout>
