---
import type { AcfCodeHighlighting } from "@ts_types/generated/graphql";
import { parse } from "@utils/helpers";
import { Code } from "astro/components";

interface GitHubRawDataProps {
  block: AcfCodeHighlighting;
}

const { block } = Astro.props as GitHubRawDataProps;

const blockAttrs = parse(block?.attributes?.data);
const { language, use_custom_language, custom_language, code } = blockAttrs;

const codeLang = use_custom_language ? custom_language : language;
---

<div class="c-blocks__code">
  <Code code={code} lang={codeLang} theme="css-variables" />
</div>
