---
import type { GithubRawData } from "@ts_types/generated/graphql";
import { Code } from "astro/components";

interface GitHubRawDataProps {
  block: GithubRawData;
}

const { block } = Astro.props as GitHubRawDataProps;

const { codeLanguage, githubRawUrl } = block.githubRawData;

async function getContent() {
  const response = await fetch(githubRawUrl);
  const content = await response.text();
  return content;
}

const content = await getContent();
---

<div class="c-blocks__code">
  <Code code={content} lang={codeLanguage} theme="css-variables" />
</div>
