---
import type { WithAcfGithubRawData } from "@/gql/graphql.ts";
import { Code } from "astro/components";
import materialThemeLighter from "tm-themes/themes/material-theme-lighter.json";
import materialThemePalenight from "tm-themes/themes/material-theme-palenight.json";

interface GitHubRawDataProps {
  block: WithAcfGithubRawData;
}

const { block } = Astro.props as GitHubRawDataProps;

const { codeLanguage, githubRawUrl } = block.githubRawData;

async function getContent() {
  const response = await fetch(githubRawUrl);
  const content = await response.text();
  return content;
}

const content = await getContent();
---

<div class="c-blocks__code">
  <Code
    code={content}
    lang={codeLanguage}
    themes={{
      light: materialThemeLighter,
      dark: materialThemePalenight,
    }}
    wrap
  />
</div>
