@use '@sass-butler/functions' as butler-fn;
@use '@sass-butler/mixins' as butler-mx;
@use '@styles/variables/colors';

@layer footer {
	.o-footer {
		grid-area: footer;

		&__end {
			min-height: 10vw;
			max-width: 1260px;
			margin: 0 auto;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.6;
				z-index: -1;
				background: {
					image: url('/assets/wave-haikei_02.svg');
					size: 100%;
					repeat: no-repeat;
					position: bottom;
				}
			}

			// padding: 1rem;
		}

		.c-social-list {
			justify-content: center;
			gap: 2rem;
		}
	}
}
