---
import DefaultLayout from "@layouts/DefaultLayout.astro";

const notFoundContent = {
  title: "Not Found",
  seo: "",
  language: {
    code: "DE",
    locale: "de_DE",
  },
};
---

<DefaultLayout content={notFoundContent}>
  <h1>404</h1>
</DefaultLayout>
