---
import Search from "@components/Search.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";

const notFoundContent = {
  language: {
    code: "DE",
    locale: "de_DE",
  },
  seo: "",
  title: "Not Found",
};
---

<DefaultLayout content={notFoundContent}>
  <h1>404</h1>

  <Search />
</DefaultLayout>
