---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { getPageBySlug } from "@services/api";
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";

// Get all pages
// export async function getStaticPaths() {
//   const pagesWithSlugs = await getAllPagesWithSlugs();
//   return pagesWithSlugs.edges.map(({ node }) => {
//     return {
//       params: { slug: node.slug },
//     };
//   });
// }

export const getStaticPaths = async () => {
  const privacy: any = await getPageBySlug("datenschutz");
  const imprint: any = await getPageBySlug("impressum");

  const pages = [privacy, imprint];

  return pages.map((page) => {
    return {
      params: {
        pageSlug: page.slug,
      },
    };
  });
};

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { pageSlug }: any = Astro.params as Params;
const page: any = await getPageBySlug(pageSlug);
---

<DefaultLayout content={page}>
  <div>
    <h1>{page?.title}</h1>
    <article set:html={page.content} />
  </div>
</DefaultLayout>
