---
import DefaultLayout from '@layouts/DefaultLayout.astro';

import { getPageBySlug } from '../lib/api';

// Get all pages
// export async function getStaticPaths() {
//   const pagesWithSlugs = await getAllPagesWithSlugs();
//   return pagesWithSlugs.edges.map(({ node }) => {
//     return {
//       params: { slug: node.slug },
//     };
//   });
// }

export async function getStaticPaths() {

  const privacy: any = await getPageBySlug('datenschutz');
  const imprint: any = await getPageBySlug('impressum');

  const pages = [privacy, imprint];

  return pages.map( (page) => {

    return {
      params: {
        pageSlug: page.slug,
      },
    };
  });
}

const { pageSlug }: any = Astro.params;
const page: any = await getPageBySlug(pageSlug);
---
<DefaultLayout content={page}>
  <div class="wrapper">
    <h1>{page?.title}</h1>
    <article set:html={page.content}></article>
  </div>
</DefaultLayout>
