---
import type { GetStaticPaths, InferGetStaticParamsType, InferGetStaticPropsType } from "astro";

import DefaultLayout from "@layouts/DefaultLayout.astro";
import { cacheExchange, Client, fetchExchange } from "@urql/core";
import { WP_API } from "astro:env/client";

import { GetPagesBySlugsDocument } from "@/gql/graphql.ts";

export const prerender = true;

export const getStaticPaths = (async () => {
  const client = new Client({
    exchanges: [cacheExchange, fetchExchange],
    fetchOptions: {
      headers: {
        "Content-Type": "application/json",
      },
    },
    url: WP_API,
  });

  const pagesResponse = await client
    .query(GetPagesBySlugsDocument, {
      slugs: ["datenschutz", "impressum"],
    })
    .toPromise();

  const pages = pagesResponse?.data?.pages?.nodes;

  if (!pages) {
    return;
  }

  return pages.map((page) => {
    return {
      params: {
        pageSlug: page.slug,
      },
      props: {
        page: page,
      },
    };
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { pageSlug } = Astro.params as Params;
const { page } = Astro.props;
---

<DefaultLayout content={page}>
  <div>
    <h1>{page?.title}</h1>
    <article set:html={page.content} />
  </div>
</DefaultLayout>
