---
import DefaultLayout from '@layouts/DefaultLayout.astro';

import { getPageBySlug } from '../lib/api';

// Get all pages
// export async function getStaticPaths() {
//   const pagesWithSlugs = await getAllPagesWithSlugs();
//   return pagesWithSlugs.edges.map(({ node }) => {
//     return {
//       params: { slug: node.slug },
//     };
//   });
// }

export async function getStaticPaths() {

  const privacy = await getPageBySlug('datenschutz');
  const imprint = await getPageBySlug('impressum');

  const pages = [privacy, imprint];

  return pages.map( page => {
    return {
      params: {
        postSlug: node.slug,
        lang: node.language.slug
      },
    };
  });
}

const { pageSlug, lang } = Astro.params;
const page = await getPageBySlug(pageSlug);
---
<DefaultLayout content={page}>
  <div class="wrapper">
    <h1>{page?.title}</h1>
    <article set:html={page.content}></article>
  </div>
</DefaultLayout>
