---
import DefaultLayout from '@layouts/DefaultLayout.astro'

import BlogPostPreview from '@components/BlogPostPreview.vue';
import { getPostsPreview, getPageBySlug } from '@lib/api';

const index: any = await getPageBySlug('blog-index');

const posts: any = await getPostsPreview();

// const allPost = posts.nodes.map(post => {
//   let posts = {...post};

//   // console.log('vorher', posts);

//   if (post.translations.length) {
//     console.log('MIT POST', post.slug, post.translations[0].slug);


//     posts = {...post.translations[0], ...post};
//   }
//   // delete post.translations;
//   // posts = {...post};

//   console.log('nacher', posts.slug);


//   return posts;
// });


---
<DefaultLayout content={index}>
  <section class="intro">
    <h1>{index.title}</h1>
  </section>
  <section aria-label="Blog post list">
    <BlogPostPreview posts={posts} client:visible></BlogPostPreview>
  </section>
</DefaultLayout>

<style>
	.content {
		margin-top: 4rem;
		margin-bottom: 8rem;
	}

	.intro {
		padding-bottom: 4rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
</style>
