/// Colors
$blue-light: #24b4e9;
$blue-dark: #303956;
$red-light: #ed3c63;

/// Colors map
$colors: (
	'blue-light': $blue-light,
	'blue-dark': $blue-dark,
	'red-light': $red-light,
);

/// Alert colors
$danger: #f33b1d;
$success: #35a672;

/// Alert colors map
$alert-colors: (
	'danger': $danger,
	'success': $success
);
