---
const { indexText = 'Home' } = Astro.props;
const paths = Astro.url.pathname.split('/').filter(x => x);
const ariaCurrent = Astro.request.url.pathname === '/' ? 'page' : undefined;

interface BreadcrumbItem {
  text: string;
  href: string;
  'aria-current'?: string;
}

let parts: Array<BreadcrumbItem> = [
  {
    text: indexText,
    href: '/',
    'aria-current': ariaCurrent
  }
];

paths.forEach((text, i) => {
  const href = `/${paths.slice(0, i + 1).join('/')}`;

  parts = [
    ...parts,
    {
      text: text.replace(/[-_]/g, ' '),
      href,
      'aria-current': ariaCurrent
    }
  ];
})
---

<nav aria-label="Breadcrumb" class="c-breadcrumb">
  <ol class="c-breadcrumb__crumbs" role="list">
    {
      parts.map(({ text, ...attrs }) =>
      <li class="c-breadcrumb__crumb" role="listitem">
        <a {...attrs}>{text}</a>
      </li>)
    }
  </ol>
</nav>
