---
import { getPrimaryMenu } from "@lib/api";
import type { RootQuery } from "../types/generated/graphql";
interface MenuItem {
  node: {
    path: any;
    connectedNode: {
      node: { slug: string };
    };
    label: string;
  };
}

const { menuItem } = await getPrimaryMenu();
---

<header class="wrapper">
  <nav>
    <a href="/">Home</a>
    <ul>
      {
        menuItems.edges.map((item: MenuItem) => (
          <li>
            <a
              href={"/" + item.node.connectedNode.node.slug}
              class={`cursor-pointer p-4 ml-2 text-white`}
            >
              {item.node.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style></style>
