---
import { getPrimaryMenu } from '../lib/api';
const { menuItems } = await getPrimaryMenu();
---

<header class="wrapper">
	<nav>
		<a href="/">Home</a>
		<ul>
			{menuItems.edges.map((item) =>
					<li key={item.node.path}>
							<a href={item.node.connectedNode.node.slug} class={`cursor-pointer p-4 ml-2 text-white`}>
									{item.node.label}
							</a>
					</li>
			)}
		</ul>
	</nav>
</header>

<style>
</style>
