---
import { getLangFromUrl, useTranslatedPath, getRouteFromUrl } from "@utils/i18n/utils";
import { languages } from "@utils/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const route = getRouteFromUrl(Astro.url);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath(`/${route ? route : ""}`, lang)}>{label}</a>
      </li>
    ))
  }
</ul>
