---
import '../styles/app.scss';
import '@fontsource/source-sans-pro/400.css';
import '@fontsource/source-sans-pro/700.css';

import BaseHead from "@components/BaseHead.astro";
import MainHeader from '@components/hero/MainHeader.vue';
import MainFooter from '@components/MainFooter.astro';
import { getMenuById, getAuthor } from '@lib/api';

import type { SeoProps } from '@components/BaseHead.astro';
export interface DefaultLayoutProps {
	content: {
		title: string;
		seo: SeoProps;
		language: {
			code: string;
			locale: string;
			name: string;
		},
	};
}

const {
	content: {
		title,
		seo,
		language,
	},
} = Astro.props as DefaultLayoutProps;

const langAttr = language.locale.replace('_', '-');

const { menuItems }: any = await getMenuById(2);

---

<html lang={langAttr}>
	<head>
		<BaseHead title={title} seo={seo} />
	</head>

	<body class="o-body">
    <MainHeader menuItems={menuItems} client:load/>
    <main class="o-content" id="swup">
      <slot></slot>
    </main>

    <script>
      import '../lib/swup.js';
    </script>

    <MainFooter></MainFooter>
	</body>
</html>

<style>
</style>
