@use './../../../node_modules/@felix_berlin/sass-butler/mixins.scss' as butler-mx;
@use '../variables/colors';

@layer global {
	:root {
		@each $name, $color in colors.$colors {
			/* stylelint-disable-next-line custom-property-pattern */
			--#{$name}: #{$color};
		}
	}

	html {
		background-color: var(--color-background, #fff);
	}

	@include butler-mx.dark-mode-class('html', false) {
		--color-background: var(--blue-dark);
	}
}

img {
	width: 100%;
	height: auto;
}
